/*公共样式*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f3f3;
    font-family: "微软雅黑";
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.title_bg{
    background: url(../images/title_bg.jpg);
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}
.title_bg h2 a{
    color: #444444;
    font-size: 16px;
    text-decoration: none;
}
/*头部样式*/
div#logo{
    display: inline-block;
    vertical-align: top;
    width: 755px;
}
div#sousuo{
    display: inline-block;
    vertical-align: top;
    margin-top: 58px;
    text-align: right;
    width: 240px;
}
input[type="text"] {
    font-family: "微软雅黑";
    background: #f3f3f3;
    border: solid 1px #cccccc;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-left: 10px;
    width: 165px;
    display: inline-block;
    vertical-align: top;
}
input[type="submit"] {
    font-family: "微软雅黑";
    background-color: #3598db;
    color: #fff;
    border: solid 1px #3598db;
    height: 42px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    padding: 0 10px;
}
div#nav{
    background-color: #3598db;
    height: 60px;
}
div#nav nav li{
    display: inline-block;
    line-height: 60px;
    border-right: solid 1px #2f89c5;
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
    transition: background-color 1s linear;
}
div#nav nav li.on , div#nav nav li:hover{
    background-color: #2f89c5;
}
div#nav nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 0 10px;
}
/*内容主体样式*/
div#body_wrapper{
    margin-top: 20px;
}
div#body_wrapper article{
    width: 628px;
    display: inline-block;
    vertical-align: top ;
    margin-right: 20px;
}
div#body_wrapper aside{
    background-color: #000;
    height: 500px;
    width: 352px;
    display: inline-block;
    vertical-align: top ;
}
/*轮播图的样式*/
section#lbt{
    box-shadow: 1px 4px 15px #a39f9f;
}
div.wrap a{
    color:#fff;
}
div#slide-holder {
    width : 628px;
    height : 278px;
}
div#slide-runner {
    width : 628px;
    height : 278px;
    overflow : hidden;
    position : absolute;
}
div#slide-holder img {
    margin : 0;
    display : none;
    position : absolute;
}
div#slide-controls {
    left : 0;
    bottom : 0;
    width : 628px;
    height : 46px;
    display : none;
    position : absolute;
}
div#slide-controls p.text {
    float : left;
    color : #fff;
    display : inline;
    font-size : 10px;
    line-height : 16px;
    margin : 15px 0 0 20px;
    text-transform : uppercase;
}
p#slide-nav {
    float : right;
    height : 24px;
    display : inline;
    margin : 11px 15px 0 0;
}
p#slide-nav a {
    float : left;
    width : 24px;
    height : 24px;
    display : inline;
    font-size : 11px;
    margin : 0 5px 0 0;
    line-height : 24px;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
    background-position : 0 0;
    background-repeat : no-repeat;
}
p#slide-nav a.on {
    background-position : 0 -24px;
}
p#slide-nav a {
    background-image : url(../images/silde-nav.png);
}
div#nav ul li a{
    background: url(..images/nav.png);
}
/*新闻总分*/
section#xinwen{
    margin-top: 20px;
}
section#xinwen li{
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    margin-top: 10px;
}
section#xinwen li a{
    display: inline-block;
    vertical-align: top;
    height: 165px;
}
section#xinwen li img{
    width: 315px;
    height: 165px;
}
section#xinwen li a.ms{
    width: 313px;
    background: rgb(53,152,220);
    color: #ffffff;
    position: relative;
    padding: 10px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
a.ms h3 {
    border-bottom: solid 1px #ffffff;
    margin-bottom: 5px;
    height: 30px;
    width: 288px;
    overflow: hidden;
}
a.ms p{
    height: 105px;
    overflow: hidden;
}
.sanjiaoxing{
    width: 20px;
    height: 20px;
    background-color: rgb(53,152,220);
    position: absolute;
    top: 19px;
    left: -11px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
/*集团活动*/
section#huodong{
    margin-top: 20px;
}
section#huodong_a{
    margin-top: 10px;
}
section#huodong_a li{
    display: inline-block;
    vertical-align: top;
    margin-right: 9px;
}
section#huodong_a li:last-child{
    margin-right: 0;
}
section#huodong_a li img{
    width: 150px;
    height: 150px;
}
section#huodong_b{
    width: 469px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 9px;
}
section#huodong_b li:before{
    content: counter(listxh);
    background: #444444;
    padding: 2px 5px;
    color: #ffffff;
    margin-right: 5px;
}
section#huodong_b li{
    counter-increment: listxh;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 14px;
    -webkit-transition: background-color 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
section#huodong_b li:first-child:before,section#huodong_b li:nth-child(2):before,section#huodong_b li:nth-child(3):before{
    background: rgb(53,152,220);
}
section#huodong_b li:last-child:before{
    padding: 2px;
    font-size: 14px;
}
section#huodong_b a{
    color: #444444;
    text-decoration: none;
}
section#huodong_b li:hover{
    text-shadow: 1px 4px 4px #000000;
}
section#huodong_c{
    width: 150px;
    display: inline-block;
    vertical-align: top;
}
section#huodong_c li{
    display: inline-block;
    margin-top: 10px;
}
section#huodong_c li:first-child,section#huodong_c li:first-child img{
    width: 150px;
    height: 205px;
}
section#huodong_c li:last-child,section#huodong_c li:last-child img{
    width: 150px;
    height: 154px;
}

